<ion-view view-title="Crowdsourced Assets" ng-controller="LessonsCtrl as lessonsCtrl">
    <ion-content class='lessons'>

        <div class="card item-remove-animate lessons-card" ng-repeat="lesson in lessonsCtrl.lessons">
            
                <div class="item item-divider" ng-class="{'card-header': lessonsCtrl.showAlert(lesson.hasHeading) != true,'card-header-error': lessonsCtrl.showAlert(lesson.hasHeading) != false }">
                    <button class=""><a class="lessons-cards-nav" ng-click="lessonsCtrl.setIndex($index)" href="#/tab/lessons/{{$index}}">View asset# {{lesson.pk}} </a></button> by <span class="lessons-cards-author">{{lesson.user}}</span> ||                     <i class="icon ion-social-youtube icon-accessory pull-right" ng-show="lesson.hasVideo == true"></i>
{{lesson.title}}...
                </div>
                <div class="item item-divider assertive" ng-show="lessonsCtrl.showAlert(lesson.hasHeading)">
                    <i class="icon ion-alert-circled icon-accessory" ng-show="lessonsCtrl.showAlert(lesson.hasHeading)"></i> <span class="item-error">missing heading</span>
                </div>
           
        </div>





    </ion-content>
</ion-view>