/* Empty. Add your own CSS if you like */
img {max-width: 80%;}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
}

.lessons-cards-nav{
text-decoration: none;


}

.lessons-cards-author{
font-style: italic;

}


.lessons{
	background-color: #DDDDDD;

}

.lesson-detail{
	background-color: #DDDDDD;

}
.lesson-detail-author {
	text-align: right;

}
.lesson-detail-img
{
	margin: 5px;
	border-radius: 5px;

}